
body{
    background-color:rgb(247, 255, 240);
    }
    

     h1{
    color:rgb(65, 40, 40) ;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font: 80px;
    }
    
    
    p{
    color:blueviolet ;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    }
    